<header class="site-header">
  <div class="container">
      <a href="{{ '/' | relative_url }}" class="logo">
          <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Logo">
      </a>
      <nav class="nav">
          <ul>
              <li><a href="{{ '/asociacion' | relative_url }}">Asociación</a></li>
              <li><a href="{{ '/sementeira' | relative_url }}">Sementeira</a></li>
              <li><a href="{{ '/maismates' | relative_url }}">MáisMates</a></li>
              <li><a href="{{ '/aurias' | relative_url }}">Aurias</a></li>
          </ul>
      </nav>
  </div>
</header>
